#content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    position: relative;
    width: 1280px;
    height: 100%;
    /* left: calc(50% - 1280px/2); */
}

ul, li {
    padding: 0;
    list-style: none;
}

#hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 216px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 44px;
  box-sizing: border-box;
  flex-wrap: wrap; /* WICHTIG für Mobilgeräte */
}


#status-title {
    /* Auto layout */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 32px;
    width: 508px;
    height: 373px;
}

#status {

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}
/* Ellipse */
#status-elipse {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background: #40D1AD;
    border: 1px solid #5FB969;
    border-radius: 100%
}

#status-avalaible {
    font-family: "Plus Jakarta Sans";
    width: 101px;
    height: 20px;
    width: 127px;
    height: 20px;
    /* left: 91px; */
    /* top: 154px; */
    line-height: 20px;
    color: #1C1B1F;
    padding: 0;
    margin: 0;
}

/* ANDRE MAIER*/
h1 {
    width: 508px;
    height: 89px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 89px;
    letter-spacing: -0.02em;
    color: #1C1B1F;
    margin: 0;
    padding: 0;
}

#hero-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 508px;
    height: 200px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1C1B1F;
}

/* photo */
#profile-pic {
/* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 342px;
    height: 484px;
    background: #FFFFFF;
    /* image 1 */

    box-sizing: border-box;
    background: url(profile-pic.jpg);
    border: 1px solid #D9D9D9;
    border-radius: 44px;
}


#education {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    /* position: relative; */
    width: 1280px;
    height: 100%;
    /* left: calc(50% - 1280px/2); */
}

#education-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1280px;
    height: 100%;
    /* left: calc(50% - 1280px/2); */
}


#education-tile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 44px;
    gap: 10px;
    width: 628px;
    height: auto;
    border: 1px solid #D9D9D9;
    border-radius: 44px;
}

#tile-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 22px;
}

#ba-icon {
    flex-shrink: 0;
    width: 69px;
    height: 69px;
}

.tile-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tile-text p {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1C1B1F;
    font-size: 16px;
    line-height: 20px;
}

.tile-line {
    display: flex;
    align-items: center;
    gap: 8px;
}

#study-name {
/*     font-weight: 600;
    font-size: 18px; */
    /* Bachelor of Arts in Kulturwissenscha */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px; 
    /* line-height: 30px; */

    color: #1D5D4D;


}

#date-presentation {
/* Sep. 2014 - Sep. 2019 */

    width: 182px;
    height: 21px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
/*     font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em; */
    color: #1D5D4D;

}

.uni-name,
.key-aspects {
    font-weight: 400;
    font-size: 16px;
}

#work-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px; /* vorher 32px */
    width: 1280px;
    margin: 0 auto;
}

#work-experience-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px; /* vorher 32px */
    width: 1280px;
    margin: 0 auto;
}

.work-tile {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 24px; /* vorher 0%; reduziert, aber nicht ganz entfernt für Luft */
    gap: 8px; /* vorher 12px */
    width: 585px;
    height: 200px; /* Höhe angepasst */
    border: 1px solid #DEDEDE;
    border-radius: 44px;
    box-sizing: border-box;


}

.work-tile-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px; /* vorher 8px */
    margin: 0;
    padding: 0;
}

#work-name {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 20px; /* vorher 24px */
    line-height: 24px;
    text-align: center;
    color: #1D5D4D;
    margin: 0;
}

#work-location,
#work-date-presentation {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 14px; /* kleiner als vorher */
    line-height: 18px;
    color: #1D5D4D;
    margin: 0;
}

#work-responsibilites {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1C1B1F;
    text-align: center;
    margin: 4px 0 0 0; /* Minimaler Abstand nach oben */
    max-width: 497px;
}

#project-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px; /* vorher 32px */
    width: 1280px;
    margin: 0 auto;
}

.project-tile {
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding:44px;
  gap:16px;
  isolation:isolate;

  width:585px;
  min-height:341px; 
  background:linear-gradient(180deg,#22272F 0%, #1D5D4D 73.95%);
  border:1px solid #DEDEDE;
  border-radius:44px;
}

.project-title {
    width: 585px;
    height: 30px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.project-underline {
    width: 499px;
    height: 0px;
    border: 0.5px solid #FDFDFF;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 499px;
    height: 60px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FDFDFF;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-tech {
  border: 2px solid currentColor;
  color: #3498db;   /* example, can be randomized */
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;  /* no fill, background shows */
}


.tag {
  display:inline-flex;              /* Pill schrumpft auf Textbreite */
  align-items:center;               /* vertikal zentriert */
  justify-content:center;           /* horizontal zentriert */
  padding:0 16px;
  min-height:26px;                  /* statt fixed height */
  border:1px solid currentColor;    /* Border = Textfarbe */
  border-radius:9999px;
  background:transparent;
  color:#FDFDFF;                    /* Standardfarbe */
  font-family:'Plus Jakarta Sans', sans-serif;
  font-weight:400;
  font-size:16px;
  line-height:1;                    /* verhindert Versatz */
  margin:0;                         /* p-Default-Margins weg */
}

.tag--blue  { color:#9AC4F8; }
.tag--green { color:#1abc9c; }
.tag--white { color:#FDFDFF; }
.tag--yellow { color:#f1c40f; } 
.tag--red    { color:#e74c3c; }
.tag--purple { color:#9b59b6; }



.github-code {
  display:inline-flex;
  align-items:center;
  gap:8px;
  padding:8px 14px;
  background:#fff;
  border:1px solid #DEDEDE;
  border-radius:44px;
  align-self:flex-end;
  transition:transform .2s ease, box-shadow .2s ease;
}

.github-code:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 18px rgba(0,0,0,.12);
}

.github-icon svg{ 
    width:29.3px; 
    height:29.3px; 
    display:block; 
}

.code-text{ 
    margin:0; 
    line-height:1; 
    font:400 16px/1 'Plus Jakarta Sans', sans-serif; 
    color:#1C1B1F;
}


.study-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 44px;
    gap: 40px;
    isolation: isolate;
    border: 1px solid #DEDEDE;
    border-radius: 44px;
    width: 100%;
}

/*BEGIN: Here we will add below pic styling*/

.thesis-pic {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px;
    gap: 16.38px;
    isolation: isolate;
    width: 312.01px;
    height: 352.5px;
} 

#place-filler {
        /* practise 9 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px;
    gap: 16.38px;
    isolation: isolate;

    /* practise 9 */
    /* position: absolute;*/
    width: 312.01px;
    height: 352.5px;
    left: 44px;
    top: 44px; 

    background: url(place-filler.png);
    border-radius: 45.0406px;
    transform: rotate(-8.52deg);

    /* Inside auto layout */
    flex: none;
    order: 10;
    flex-grow: 0;
    z-index: 10;

    
}

#thesis-title-page {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px;
    gap: 16.38px;
    isolation: isolate;

    width: 312.01px;
    height: 352.5px;
    left: 138px;
    top: 333px; 
    background: url(thesis-title.png);
    border: 1px solid #D9D9D9;
    border-radius: 45.0406px;
    transform: rotate(8.15deg);
    /* Inside auto layout */
    flex: none;
    order: 12;
    flex-grow: 0;
    z-index: 12;
}

#university-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px;
    gap: 16.38px;
    isolation: isolate;
    width: 312.01px;
    height: 352.5px;
    left: 44px;
    top: 598px; 
    background: url(university-logo.png);
    border-radius: 45.0406px;
    transform: rotate(-8.52deg);
    /* Inside auto layout */
    flex: none;
    order: 11;
    flex-grow: 0;
    z-index: 11;

}


/*END: Here we will add above pic styling*/

.thesis-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 568px;
    height: auto;
    margin-bottom: 20px;
}

.study-title {
    /* Masterarbeit */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #1D5D4D;
}

.study-tile-line {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
    padding: 0;
}


/* Dez. 2023 – Gegenwärtig */
.study-date-presentation {
    width: 192px;
    height: 20px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1D5D4D;
}


.study-prof {
    padding: 0px;
    gap: 10px;
    background: #9AC4F8;
    border: 1px solid #D9D9D9;
    border-radius: 44px;
    width: 293px;
    height: 20px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 20px; */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thesis-title {
    width: 457px;
    height: 40px;
    left: 666px;
    top: 171px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1C1B1F;
}

.thesis-title-highlight {
    font-weight: 600;
    color: #1D5D4D;
}

.thesis-description {
    width: 568px;
    height: auto;
    left: 666px;
    top: 221px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C1B1F;
    margin-bottom: 20px;
}

.course-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 568px;
    padding: 22px;
    gap: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 44px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.course-tile:last-child {
    margin-bottom: 0; /* kein extra Abstand beim letzten Tile */
}

.course-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.course-header {
    /* width: 399px;
    height: 20px; */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1D5D4D;
    margin: 0;
}

.course-description {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1C1B1F;
    margin: 0;
}

/* mobile responsiveness */
@media (max-width: 768px) {
  #hero {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  #status-title,
  #hero-description {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  #profile-pic {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  h1 {
    font-size: 42px;
    line-height: 48px;
    width: 100%;
  }

  #education-tile,
  .work-tile {
    width: 100%;
    padding: 24px;
    gap: 12px;
  }

  #work-experience-list,
  #education-list {
    flex-direction: column;
    align-items: center;
  }

  #content {
    padding: 0 16px;
  }
}

